// colors
$color-white: #fff;
$color-black: #000;

$color-success: #7bba89;
$color-primary: #feffdb;

// backgrounds
$app-background: linear-gradient(
  180deg,
  #b451bd 0%,
  #2d1c66 99.99%,
  rgba(64, 16, 255, 0.22) 100%
);

$form-background: rgba(255, 255, 255, 0.26);

$radius-primary: 1.4rem;

$shadow-big: 8px 10px 25px rgba(0, 0, 0, 0.25);
$shadow-small: 4px 4px 11px rgba(0, 0, 0, 0.25);
